Problem 1- Variables and Data Types

In [ ]:
name = "Kabir"

In [ ]:
age = 20

In [ ]:
has_android_phone = True

In [ ]:
name , age , has_android_phone

('Kabir', 20, True)

In [ ]:
person = {name: "Kabir", age: 20 , has_android_phone: True} 
person

{'Kabir': 'Kabir', 20: 20, True: True}

In [ ]:
print (person[name] , "is" , person[age], ",", "owns an android phone" if person[has_android_phone] else "none")

Kabir is 20 , owns an android phone

In [ ]:
for i in person:
  print("the key",person[i],"has the value ", type(person[i]))

the key Kabir has the value  <class 'str'>
the key 20 has the value  <class 'int'>
the key True has the value  <class 'bool'>

Problem 2 Working with Lists

In [ ]:
favlist=["Blue",1,False]

In [ ]:
favlist

['Blue', 1, False]

In [ ]:
print("My favorite colour is", favlist[0], "and I have", favlist[1],"pet.")

My favorite colour is Blue and I have 1 pet.

In [ ]:
if favlist[2]==False :
  print("I dont have programmaning experience")
else : 
  print("I have previous programming exerience")

I dont have programmaning experience

In [ ]:
favlist.append(3)

In [ ]:
favlist

['Blue', 1, False, 3]

In [ ]:
favlist.remove("Blue")

In [ ]:
print(len(favlist))

3

Problem 3 - Conditions and Loops

In [ ]:
sum = 0
for i in range(18,534):
  if i%7==0:
    sum = sum+i
print("The sum is", sum)

The sum is 20461

Problem 4 - Flying to Bahamas

In [ ]:
flightcost = 5000
ticketcost = 200
passengers = 29 
profit =passengers*ticketcost - flightcost

In [ ]:
print("The profit is ", profit)

The profit is  800

In [ ]:
returnpassengers = 12 
returncost = returnpassengers*ticketcost - flightcost
returncost

-2600

In [ ]:
totalprofit = profit +returncost
totalprofit

-1800

In [ ]:
if totalprofit > flightcost:
  print("The company profit is", totalprofit)
else:
  print("The company loss is", totalprofit)

The company loss is -1800

Problem 5 - Twitter Sentiment Analysis

In [ ]:
tweets = [
    "Wow, what a great day today!! #sunshine",
    "I feel sad about the things going on around us. #covid19",
    "I'm really excited to learn Python with @JovianML #zerotopandas",
    "This is a really nice song. #linkinpark",
    "The python programming language is useful for data science",
    "Why do bad things happen to me?",
    "Apple announces the release of the new iPhone 12. Fans are excited.",
    "Spent my day with family!! #happy",
    "Check out my blog post on common string operations in Python. #zerotopandas",
    "Freecodecamp has great coding tutorials. #skillup"
]
happy_words = ['great', 'excited', 'happy', 'nice', 'wonderful', 'amazing', 'good', 'best'] 
sad_words =  ['sad', 'bad', 'tragic', 'unhappy', 'worst']

In [ ]:
tweet1 = tweets[0]
for i in happy_words:
  if i in tweet1:
    print( tweet1, "-- is a Happy Tweet")

Wow, what a great day today!! #sunshine -- is a Happy Tweet